.dialog-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  padding: 16px
}

.dialog-button-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 16px;
  align-items: flex-end;
  width: 100%;
}

.dialog-button {
  border-style: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 25px;
  padding: 10px 10px;
}

.button-abort {
  background-color: #ff1717;
}

.button-abort:hover {
  background-color: rgba(255, 23, 23, 0.6);
}

.button-save {
  background-color: rgb(0, 121, 214);
}
.button-save:hover {
  background-color: rgba(0, 121, 214, 0.58);
}

.dialog-input-fields{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  background-color: whitesmoke;
}
