:host{
  flex: 1
}

.room-editor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  box-sizing: border-box;
  padding: 0 15px 15px 0;
}

.canvas-container {
  flex-grow: 1;
  display: flex;
  border-style: solid;
  border-width: medium;
  border-color: rgba(176, 196, 222, 0.69);
  flex-direction: column-reverse;
  justify-content: flex-end;

  position: relative;
}

.fab-container {
  display: flex;
  flex-direction: column-reverse;
  align-items:flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
}

.fab-main {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #3f51b5;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
}

.fab-actions {
  display: flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.fab-secondary {
  background-color: #3f51b5;
  border-style: none;
  height: 56px;
  border-radius: 10px;

  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: white;
  font-size: 18px;
}

.fab-shadow {
  box-shadow: 0 4px 6px rgb(41 40 40 / 49%);
}

.fab-shadow:hover {
  box-shadow: 0px 9px 13px 1px rgb(41 40 40 / 33%);
}

.fab-secondary:hover  {
  background-color: rgba(88, 106, 200, 0.69);

}.fab-main:hover  {
  background-color: rgba(88, 106, 200, 0.69);
}

 .canvas{
   display: flex;
   height: 100%;
   position: relative;
 }

 .workspace-object{
   width: 100px;
   height: 50px;
   background-color: #656c21;
   border-radius: 15px;
   position: absolute;
   cursor:grab;
   user-select: none; /* verhindert Textauswahl beim Ziehen */

 }

 .workspace-object.active{
   cursor: grabbing;
   box-shadow: 0 0 20px 5px yellow;

 }
