:host {
  flex: 1;
}

.settings-view-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 15px;
}

.settings-view-content {
  flex: 1;
  min-height: 0;
  min-width: 0;
}
