<div class="header-bar-container">
  <p style="color: white; font-family: sans-serif; font-size: 25px; padding-left: 29px">Raumverwaltung-Admin</p>
  <div class="icon-container">

    <button class="icon-button">
      <i class="fa-solid fa-screwdriver-wrench" style="font-size: large; color: white"></i>
    </button>

    <button class="icon-button">
      <i class="fa-solid fa-gear" style="font-size: large; color: white"></i>
    </button>
    <button class="icon-button">
      <i class="fa-solid fa-user" style="font-size: large; color: white"></i>
    </button>
  </div>
</div>
