.header-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #4470c2;
  height: 60px;
  align-items: center;
  box-shadow: 0 0 30px 0 dimgrey;
}

.icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  height: 100%
}

.icon-button {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 60px;
  width: 60px;
}

.icon-button:hover {
  background-color: rgba(131, 160, 218, 0.59);
}

.font-icon {
  font-size: 50px;
}
